@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<nav>
    <div class="logo unselect">
        @if (@ViewData["Title"] is "Home")
        {
            <a href="/" class="navbarLogo">@Configuration["ApplicationName"].ToString().ToLower()</a>
        }
        else
        {
            <a href='javascript:history.go(-1)'>
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
            </a>

        }

        @*@await Component.InvokeAsync("CategoriesMenuList")*@

    </div>

    @*<ul class="menu unselect" id="navbarMenu">
    <li class="menuIcon tooltip-bottom mobile" data-tooltip="Buscar" data-togglesearch>
    <i class="fas fa-search"></i>
    </li>
    <li class="menuIcon tooltip-bottom mobile closeSearch" data-tooltip="Cerrar" data-togglesearch>
    <i class="fas fa-times"></i>
    </li>
    <li class="search">
    <input type="text" id="searchInput" placeholder="Buscar...">
    </li>
    <partial name="_LoginPartial" />
    <li class="menuIcon tooltip-bottom mobile" data-toggle="slideMenu" data-tooltip="Menu">
    <i class="fas fa-bars"></i>
    </li>
    <li class="newVox" data-function="createVox">INICIAR VOX</li>
    </ul>*@

    @if (@ViewData["Title"] is "Home")
    {
        @await Component.InvokeAsync("NotificationNavList")
    }


    <div class="alertBox"></div>
</nav>