@model IEnumerable<Voxed.WebApp.Models.VoxResponse>

@{
    ViewData["Title"] = "Ocultos";
}

@*Search resultados*@

<main>
    <div class="loadNewVox disabled unselect" data-voxs="0" id="voxLoadMore"></div>
    <div class="voxList" id="voxList">

        @await Component.InvokeAsync("VoxDetails", Model)

    </div>
    <div class="loadingSpinner hide" id="homeLoadingSpinner"><i class="fas fa-spinner fa-spin"></i></div>
</main>
<script>
    var ACTUAL_PAGE = "hidden";
    var TITLE = "Voxed ";
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}