@model IEnumerable<Core.Entities.Vox>

@{
    ViewData["Title"] = "Home";
}


    <main>
        <div class="loadNewVox disabled unselect" data-voxs="0" id="voxLoadMore"></div>
    <div class="voxList" id="voxList">

        <a href="/home/info" class="vox newInVoxed"
           style="background: url(https://content.voxed.net/home/version4.png);">
            <div class="voxHeader">
                <div class="tagList">
                    <div class="tag sticky">Info y Reglas</div>
                </div>
            </div>
            <h4 class="title textShadon">¿Nuevo en Voxed?</h4>
            <div class="over"></div>
        </a>
        @*<a href="https://brave.com/vox812" data-event="click,button,AD_HOME_1"
           class="vox " id="voxad"
           style="background: url(https://content.voxed.net/brave1.gif);">
            <div class="voxHeader">
                <div class="tagList">
                    <div class="tag sticky">Ads</div>
                </div>
            </div>
            <h4 class="title textShadon">¡Ganá dinero mientras navegas!</h4>
            <div class="over"></div>
        </a>*@

        @await Component.InvokeAsync("VoxDetails", Model)        

    </div>
        @*<span class="commentsVoxText">20</span>*@
        <div class="loadingSpinner hide" id="homeLoadingSpinner"><i class="fas fa-spinner fa-spin"></i></div>
    </main>
<script>
    var ACTUAL_PAGE = "home";
    var TITLE = "Voxed ";
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

